* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #181818af;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    height: 430px;
    width: 400px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

select,
input {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: #007bff;
    color: white;
    padding: 0.5rem;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 0.5rem;
    transition: background 0.3s;
}

button:hover {
    background: #0056b3;
}

#mensagem {
    font-weight: bold;
    margin-top: 1rem;
}

#tentativas {
    color: #555;
    font-size: 0.9rem;
}

#vitorias {
    font-weight: bold;
}